body {
    font-size: 16px;
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
    padding: 0px;
    width: 350px;
    height: 500px;
    overflow: hidden;
}

input {
    font-size: 16px;
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	padding: 0;
	margin: 0;
	width: 320px;
	border-style: groove;
}

.search {
	float:right;
	padding: 2px;
}

ol {
	list-style-type: none;
	display: inline;
}

img.tabimage {
	vertical-align: middle;
	padding-right: 5px;
}

li {
	padding: 3px 1px 2px 3px;
	vertical-align: middle;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}

li.withoutfocus {
	padding: 3px 1px 2px 1px;
	vertical-align: middle;
}

li.withfocus  {
	color: white;
	background-color: black;
}

li:hover  {
	color: white;
	background-color: black;
}
