body {
    font-size: 12px;
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
    color: #200772;
	padding: 0;
	margin: 0;
    width: 350px;
    height: 500px;
    overflow: hidden; 
    overflow-y: auto;
}

.qs_input {
    font-size: 12px;
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	padding: 5px 5px 5px 25px;
	margin: 0;
	width: 347px;
	border-style: groove;
	background: url('search.png') no-repeat 5px center;
}

form {
	/*padding: 0;
	margin: 2px;*/
}

img.tabimage {
	vertical-align: middle;
	padding: 4px;
}

table {
	width:350px;
}

tr {
    font-size: 12px;
	vertical-align: middle;
}

tr div {
	width: 315px;
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap;
}

.odd {
	background: white;
}

.even {
	background: whitesmoke;
}

.withfocus  {
	color: white;
	background-color: #200772;
}

td {
    /*padding: 6px 1px 6px 1px;*/
}

div.title {
}

div.url {
	font-size: 9px;
	color: lightgray;
}
